@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */

body, html{
  margin: 0px;
  margin-bottom: 10rem;
  padding: 0px;
  background-color: black;
}